@using MVCKutuphane.Models
@model List<tblhareketler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>İadesi Alınan Kitap Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>İŞLEM ID</th>
        <th>KİTAP ADI</th>
        <th>ÜYE</th>
        <th>PERSONEL</th>
        <th>ALIŞ TARİHİ</th>
        <th>ÜYENİN GETİRDİĞİ TARİH</th>
        <th>DETAYLAR</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.tblkitaplar.AD</td>
            @*<td>@item.tbluyeler.AD &nbsp; @item.tbluyeler.SOYAD</td>*@
            <td>@item.tbluyeler.AD @item.tbluyeler.SOYAD</td>
            <td>@item.tblpersoneller.PERSONEL</td>
            <td>@Convert.ToDateTime(item.ALISTARIH).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(item.UYEGETIRTARIH).ToString("dd/MM/yyyy")</td>
            <td><a href="/Odunc/Odunciade/@item.ID" class="btn btn-info">Detaylar</a></td>
        </tr>
    }
</table>

