@using MVCKutuphane.Models
@using PagedList;
@using PagedList.Mvc;

@model PagedList.IPagedList<tbluyeler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<br />
<table class="table table-bordered">
    <tr>
        <th>ÜYE ID</th>
        <th>ADI</th>
        <th>SOYADI</th>
        <th>MAIL</th>
        <th>KULLANICI ADI</th>
        <th>ŞİFRE</th>
        <th>TELEFON</th>
        <th>OKUL</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>KİTAP GEÇMİŞİ</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.AD</td>
            <td>@item.SOYAD</td>
            <td>@item.MAIL</td>
            <td>@item.KULLANICIADI</td>
            <td>@item.SIFRE</td>
            <td>@item.TELEFON</td>
            <td>@item.OKUL</td>
            <td><a href="/Uye/UyeSil/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Uye/UyeGetir/@item.ID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Uye/KitapGecmisi/@item.ID" class="btn btn-info">Kitap Geçmişi</a></td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, sayfa=>Url.Action("Index" , new {sayfa}))

<a href="/Uye/UyeEkle/" class="btn btn-primary">Yeni Üye Ekle</a>